numpy==1.22.3
yacs
joblib
scikit-image
opencv-python
imageio[ffmpeg]
matplotlib
tensorboard
smplx==0.1.28
progress
einops
timm==0.4.9
munkres
xtcocotools>=1.8
loguru
setuptools==59.5.0
tqdm
ultralytics
gdown==4.6.0