<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="LingLong2.0">
  <mujoco>
    <compiler
      meshdir="meshes/"
      balanceinertia="true"
      discardvisual="false" />
  </mujoco> 
  <!-- <link
    name="world_base">
  </link>
  <joint
    name="world_base_joint"
    type="revolute">
  <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="world_base" />
    <child
      link="base_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.872664626"
      upper="2.757620218"
      effort="330"
      velocity="12.8805" />
  </joint> -->   
  
  
  
  
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000240 -0.000016 -0.089289"
        rpy="0 0 0" />
      <mass
        value="6.406737" />
      <inertia
        ixx="0.086881"
        ixy="-0.000002"
        ixz="-0.000030"
        iyy="0.011904"
        iyz="-0.000004"
        izz="0.087380" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.086806 0.011277 -0.000299"
        rpy="0 0 0" />
      <mass
        value="2.118621" />
      <inertia
        ixx="0.005584"
        ixy="-0.001856"
        ixz="-0.000033"
        iyy="0.008365"
        iyz="-0.000014"
        izz="0.008599" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.03 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.085"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.1138 -0.0925"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.757620218"
      upper="0.872664626"
      effort="330"
      velocity="12.88052988" />
  </joint>
  <link
    name="left_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.046210 0.000009 -0.090900"
        rpy="0 0 0" />
      <mass
        value="2.102846" />
      <inertia
        ixx="0.010169"
        ixy="-0.000008"
        ixz="0.006090"
        iyy="0.017640"
        iyz="0.000006"
        izz="0.013339" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.13 0 0"
        rpy="0 1.57 0" />
      <geometry>
        <cylinder radius="0.075" length="0.058"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 -0.123"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hip_pitch_link" />
    <child
      link="left_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.523598776"
      upper="2.094395102"
      effort="150"
      velocity="14.66076572" />
  </joint>
  <link
    name="left_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.004294 -0.006559 -0.313266"
        rpy="0 0 0" />
      <mass
        value="3.532287" />
      <inertia
        ixx="0.029430"
        ixy="0.000031"
        ixz="-0.000337"
        iyy="0.030194"
        iyz="-0.000615"
        izz="0.007765" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.24"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.15"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hip_roll_link" />
    <child
      link="left_hip_yaw_link" />
    <axis
      xyz="0 1.4936E-05 1" />
    <limit
      lower="-2.792526803"
      upper="2.792526803"
      effort="130"
      velocity="14.66076572" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="0.002595 -0.000878 -0.180857"
        rpy="0 0 0" />
      <mass
        value="4.123105" />
      <inertia
        ixx="0.045283"
        ixy="-0.000014"
        ixz="0.000105"
        iyy="0.046565"
        iyz="0.002315"
        izz="0.007604" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.2"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.3823"
      rpy="0 0 0" />
    <parent
      link="left_hip_yaw_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 1.4936E-05" />
    <limit
      lower="-0.174532925"
      upper="1.902408885"
      effort="150"
      velocity="14.66076572" />
  </joint>
  <link
    name="left_ankle_pitch_link">
    <inertial>
      <origin
        xyz="-0.000216 0.000000 0.000000"
        rpy="0 0 0" />
      <mass
        value="0.139668" />
      <inertia
        ixx="0.000029"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000031"
        iyz="0.000000"
        izz="0.000056" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.42"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_ankle_pitch_link" />
    <axis
      xyz="0 1 1.4936E-05" />
    <limit
      lower="-0.802851456"
      upper="0.602138592"
      effort="90"
      velocity="16.44100155" />
  </joint>
  <link
    name="left_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.008646 0.000045 -0.044395"
        rpy="0 0 0" />
      <mass
        value="1.103013" />
      <inertia
        ixx="0.001000"
        ixy="-0.000002"
        ixz="0.000285"
        iyy="0.006049"
        iyz="0.000000"
        izz="0.006380" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
         <collision>
            <origin xyz="0.02 0 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.0070" length="0.258"/>
            </geometry>
        </collision>
    <collision>
            <origin xyz="0.02 -0.04 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.218"/>
            </geometry>
        </collision>
     <collision>
            <origin xyz="0.02 0.04 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.218"/>
            </geometry>
        </collision>
      <collision>
            <origin xyz="0.02 -0.02 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.258"/>
            </geometry>
        </collision>
       <collision>
            <origin xyz="0.02 0.02 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.258"/>
            </geometry>
        </collision>

  </link>
  <joint
    name="left_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_ankle_pitch_link" />
    <child
      link="left_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.523598776"
      upper="0.523598776"
      effort="90"
      velocity="16.44100155" />
  </joint>
  <link
    name="right_hip_pitch_link">
    <inertial>
      <origin
        xyz="-0.086806 -0.011277 -0.000299"
        rpy="0 0 0" />
      <mass
        value="2.118621" />
      <inertia
        ixx="0.005584"
        ixy="0.001856"
        ixz="-0.000033"
        iyy="0.008365"
        iyz="0.000014"
        izz="0.008599" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.03 0"
        rpy="1.57 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.085"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.1138 -0.0925"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_hip_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.757620218"
      upper="0.872664626"
      effort="330"
      velocity="12.88052988" />
  </joint>
  <link
    name="right_hip_roll_link">
    <inertial>
      <origin
        xyz="-0.046210 0.000009 -0.090900"
        rpy="0 0 0" />
      <mass
        value="2.102846" />
      <inertia
        ixx="0.010169"
        ixy="-0.000008"
        ixz="0.006090"
        iyy="0.017640"
        iyz="0.000006"
        izz="0.013339" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.13 0 0"
        rpy="0 1.57 0" />
      <geometry>
        <cylinder radius="0.075" length="0.058"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 -0.123"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hip_pitch_link" />
    <child
      link="right_hip_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.094395102"
      upper="0.523598776"
      effort="150"
      velocity="14.66076572" />
  </joint>
  <link
    name="right_hip_yaw_link">
    <inertial>
      <origin
        xyz="0.004294 0.006559 -0.313266"
        rpy="0 0 0" />
      <mass
        value="3.532287" />
      <inertia
        ixx="0.029430"
        ixy="-0.000031"
        ixz="-0.000337"
        iyy="0.030194"
        iyz="0.000615"
        izz="0.007765" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.24"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.15"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hip_roll_link" />
    <child
      link="right_hip_yaw_link" />
    <axis
      xyz="0 -1.4936E-05 1" />
    <limit
      lower="-2.792526803"
      upper="2.792526803"
      effort="130"
      velocity="14.66076572" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="0.002595 0.000878 -0.180857"
        rpy="0 0 0" />
      <mass
        value="4.123105" />
      <inertia
        ixx="0.045283"
        ixy="0.000014"
        ixz="0.000105"
        iyy="0.046565"
        iyz="-0.002315"
        izz="0.007604" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 -0.2"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.075" length="0.18"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.3823"
      rpy="0 0 0" />
    <parent
      link="right_hip_yaw_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 1.4936E-05" />
    <limit
      lower="-0.174532925"
      upper="1.902408885"
      effort="150"
      velocity="14.66076572" />
  </joint>
  <link
    name="right_ankle_pitch_link">
    <inertial>
      <origin
        xyz="-0.000216 0.000000 0.000000"
        rpy="0 0 0" />
      <mass
        value="0.139668" />
      <inertia
        ixx="0.000029"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000031"
        iyz="0.000000"
        izz="0.000056" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.42"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_ankle_pitch_link" />
    <axis
      xyz="0 1 1.4936E-05" />
    <limit
      lower="-0.802851456"
      upper="0.602138592"
      effort="90"
      velocity="16.44100155" />
  </joint>
  <link
    name="right_ankle_roll_link">
    <inertial>
      <origin
        xyz="0.008646 -0.000045 -0.044395"
        rpy="0 0 0" />
      <mass
        value="1.103013" />
      <inertia
        ixx="0.001000"
        ixy="0.000002"
        ixz="0.000285"
        iyy="0.006049"
        iyz="-0.000000"
        izz="0.006380" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
   <collision>
            <origin xyz="0.02 0 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.0070" length="0.258"/>
            </geometry>
        </collision>
    <collision>
            <origin xyz="0.02 -0.04 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.218"/>
            </geometry>
        </collision>
     <collision>
            <origin xyz="0.02 0.04 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.218"/>
            </geometry>
        </collision>
      <collision>
            <origin xyz="0.02 -0.02 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.258"/>
            </geometry>
        </collision>
       <collision>
            <origin xyz="0.02 0.02 -0.069" rpy="0 -1.5708 0"/>
            <geometry>
                <cylinder radius="0.007" length="0.258"/>
            </geometry>
        </collision>

  </link>
  <joint
    name="right_ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_ankle_pitch_link" />
    <child
      link="right_ankle_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.523598776"
      upper="0.523598776"
      effort="90"
      velocity="16.44100155" />
  </joint>
  <link
    name="waist_yaw_link">
    <inertial>
      <origin
        xyz="0.000093 0.001874 -0.005879"
        rpy="0 0 0" />
      <mass
        value="1.607636" />
      <inertia
        ixx="0.002944"
        ixy="0.000001"
        ixz="0.000010"
        iyy="0.003558"
        iyz="-0.000014"
        izz="0.002871" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/waist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0.0708"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.617993878"
      upper="2.617993878"
      effort="130"
      velocity="14.66076572" />
  </joint>
  <link
    name="waist_pitch_link">
    <inertial>
      <origin
        xyz="-0.018183 0.004349 0.215567"
        rpy="0 0 0" />
      <mass
        value="14.295562" />
      <inertia
        ixx="0.243448"
        ixy="-0.004949"
        ixz="-0.003611"
        iyy="0.210991"
        iyz="0.005941"
        izz="0.125562" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/waist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.245"
        rpy="0 0 0" />
      <geometry>
        <box size="0.24 0.26 0.37"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="waist_yaw_link" />
    <child
      link="waist_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.523598776"
      upper="0.523598776"
      effort="130"
      velocity="14.66076572" />
  </joint>
  <link
    name="head_yaw_link">
    <inertial>
      <origin
        xyz="0.000068 0.001906 -0.001646"
        rpy="0 0 0" />
      <mass
        value="0.425427" />
      <inertia
        ixx="0.000110"
        ixy="0.000000"
        ixz="0.000000"
        iyy="0.000090"
        iyz="0.000000"
        izz="0.000092" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/head_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/head_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0.47609"
      rpy="0 0 0" />
    <parent
      link="waist_pitch_link" />
    <child
      link="head_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.570796327"
      upper="1.570796327"
      effort="27"
      velocity="10.47197551" />
  </joint>
  <link
    name="head_pitch_link">
    <inertial>
      <origin
        xyz="0.013128 0.000316 0.100168"
        rpy="0 0 0" />
      <mass
        value="0.959359" />
      <inertia
        ixx="0.004783"
        ixy="0.000005"
        ixz="0.000803"
        iyy="0.006450"
        iyz="0.000018"
        izz="0.003969" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/head_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/head_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="head_yaw_link" />
    <child
      link="head_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.785398163"
      upper="0.785398163"
      effort="27"
      velocity="10.47197551" />
  </joint>
  
  
  
  <link
    name="left_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.005683 -0.007852 0.000072"
        rpy="0 0 0" />
      <mass
        value="1.132325" />
      <inertia
        ixx="0.001061"
        ixy="-0.000024"
        ixz="-0.000003"
        iyy="0.000750"
        iyz="-0.000009"
        izz="0.001050" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.21175 0.32804"
      rpy="0 0 0" />
    <parent
      link="waist_pitch_link" />
    <child
      link="left_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.967059728"
      upper="2.967059728"
      effort="97"
      velocity="6.28" />
  </joint>
  <link
    name="left_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.001957 0.000000 -0.059713"
        rpy="0 0 0" />
      <mass
        value="0.893031" />
      <inertia
        ixx="0.001633"
        ixy="0.000000"
        ixz="0.000056"
        iyy="0.002027"
        iyz="0.000000"
        izz="0.001096" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_pitch_link" />
    <child
      link="left_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.087266463"
      upper="3.054326191"
      effort="97"
      velocity="6.28" />
  </joint>
  <link
    name="left_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-0.004186 -0.002151 -0.223430"
        rpy="0 0 0" />
      <mass
        value="0.958875" />
      <inertia
        ixx="0.003446"
        ixy="0.000002"
        ixz="0.000167"
        iyy="0.003452"
        iyz="-0.000073"
        izz="0.000721" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_roll_link" />
    <child
      link="left_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.967059728"
      upper="2.967059728"
      effort="27"
      velocity="10.47" />
  </joint>
  <link
    name="left_elbow_link">
    <inertial>
      <origin
        xyz="0.042253 -0.001579 -0.003042"
        rpy="0 0 0" />
      <mass
        value="0.422895" />
      <inertia
        ixx="0.000644"
        ixy="-0.000002"
        ixz="0.000004"
        iyy="0.000847"
        iyz="0.000003"
        izz="0.001098" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_elbow_joint"
    type="revolute">
    <origin
      xyz="5E-05 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_yaw_link" />
    <child
      link="left_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.785398163"
      upper="1.570796327"
      effort="27"
      velocity="10.47" />
  </joint>
  <link
    name="left_wrist_roll_link">
    <inertial>
      <origin
        xyz="-0.054086 -0.001143 0.000030"
        rpy="0 0 0" />
      <mass
        value="0.699632" />
      <inertia
        ixx="0.000681"
        ixy="0.000016"
        ixz="0.000000"
        iyy="0.000952"
        iyz="0.000000"
        izz="0.001133" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_roll_joint"
    type="revolute">
    <origin
      xyz="0.198 0 0"
      rpy="0 0 0" />
    <parent
      link="left_elbow_link" />
    <child
      link="left_wrist_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.967059728"
      upper="2.967059728"
      effort="7"
      velocity="20.94" />
  </joint>
  <link
    name="left_wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.030943 -0.000730 0.001059"
        rpy="0 0 0" />
      <mass
        value="0.975584" />
      <inertia
        ixx="0.000582"
        ixy="-0.000027"
        ixz="-0.000019"
        iyy="0.001433"
        iyz="-0.000001"
        izz="0.001431" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="left_wrist_roll_link" />
    <child
      link="left_wrist_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.396263402"
      upper="1.396263402"
      effort="7"
      velocity="20.94" />
  </joint>  
  <link
    name="left_wrist_yaw_link">
    <inertial>
      <origin
        xyz="0.016171 0.000001 0.001559"
        rpy="0 0 0" />
      <mass
        value="0.191947" />
      <inertia
        ixx="0.000273"
        ixy="0.000000"
        ixz="-0.000001"
        iyy="0.000363"
        iyz="0.000000"
        izz="0.000248" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_yaw_joint"
    type="revolute">
    <origin
      xyz="0.062 0 0"
      rpy="0 0 0" />
    <parent
      link="left_wrist_pitch_link" />
    <child
      link="left_wrist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.396263402"
      upper="1.396263402"
      effort="7"
      velocity="20.943" />
  </joint>






  <link
    name="right_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.005683 0.007852 0.000072"
        rpy="0 0 0" />
      <mass
        value="1.132325" />
      <inertia
        ixx="0.001061"
        ixy="0.000024"
        ixz="-0.000003"
        iyy="0.000750"
        iyz="0.000009"
        izz="0.001050" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.21175 0.32804"
      rpy="0 0 0" />
    <parent
      link="waist_pitch_link" />
    <child
      link="right_shoulder_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.967059728"
      upper="2.967059728"
      effort="97"
      velocity="6.28" />
  </joint>
  <link
    name="right_shoulder_roll_link">
    <inertial>
      <origin
        xyz="-0.001957 0.000000 -0.059713"
        rpy="0 0 0" />
      <mass
        value="0.893031" />
      <inertia
        ixx="0.001633"
        ixy="0.000000"
        ixz="0.000056"
        iyy="0.002027"
        iyz="0.000000"
        izz="0.001096" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_pitch_link" />
    <child
      link="right_shoulder_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.054326191"
      upper="0.087266463"
      effort="97"
      velocity="6.28" />
  </joint>
  <link
    name="right_shoulder_yaw_link">
    <inertial>
      <origin
        xyz="-0.004186 0.002151 -0.223430"
        rpy="0 0 0" />
      <mass
        value="0.958875" />
      <inertia
        ixx="0.003446"
        ixy="-0.000002"
        ixz="0.000167"
        iyy="0.003452"
        iyz="0.000073"
        izz="0.000721" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_yaw_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_roll_link" />
    <child
      link="right_shoulder_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.967059728"
      upper="2.967059728"
      effort="27"
      velocity="10.47" />
  </joint>
  <link
    name="right_elbow_link">
    <inertial>
      <origin
        xyz="0.042253 0.001579 -0.003042"
        rpy="0 0 0" />
      <mass
        value="0.422895" />
      <inertia
        ixx="0.000644"
        ixy="0.000002"
        ixz="0.000004"
        iyy="0.000847"
        iyz="-0.000003"
        izz="0.001098" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_elbow_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.26"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_yaw_link" />
    <child
      link="right_elbow_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.785398163"
      upper="1.570796327"
      effort="27"
      velocity="10.47" />
  </joint>
  <link
    name="right_wrist_roll_link">
    <inertial>
      <origin
        xyz="-0.054086 0.001143 0.000030"
        rpy="0 0 0" />
      <mass
        value="0.699632" />
      <inertia
        ixx="0.000681"
        ixy="-0.000016"
        ixz="0.000000"
        iyy="0.000952"
        iyz="0.000000"
        izz="0.001133" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_roll_joint"
    type="revolute">
    <origin
      xyz="0.198 0 0"
      rpy="0 0 0" />
    <parent
      link="right_elbow_link" />
    <child
      link="right_wrist_roll_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-2.967059728"
      upper="2.967059728"
      effort="7"
      velocity="20.94" />
  </joint>
  <link
    name="right_wrist_pitch_link">
    <inertial>
      <origin
        xyz="0.030943 0.000730 0.001059"
        rpy="0 0 0" />
      <mass
        value="0.975584" />
      <inertia
        ixx="0.000582"
        ixy="0.000027"
        ixz="-0.000019"
        iyy="0.001433"
        iyz="0.000001"
        izz="0.001431" />		
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="right_wrist_roll_link" />
    <child
      link="right_wrist_pitch_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.396263402"
      upper="1.396263402"
      effort="7"
      velocity="20.94" />
  </joint>
  <link
    name="right_wrist_yaw_link">
    <inertial>
      <origin
        xyz="0.016171 0.000001 0.001559"
        rpy="0 0 0" />
      <mass
        value="0.191947" />
      <inertia
        ixx="0.000273"
        ixy="0.000000"
        ixz="-0.000001"
        iyy="0.000363"
        iyz="0.000000"
        izz="0.000248" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_yaw_joint"
    type="revolute">
    <origin
      xyz="0.062 0 0"
      rpy="0 0 0" />
    <parent
      link="right_wrist_pitch_link" />
    <child
      link="right_wrist_yaw_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.396263402"
      upper="1.396263402"
      effort="7"
      velocity="20.94" />
  </joint>
</robot>